<% product = capsule %>
<%
  @accepted_offer = product.offers.last(:conditions => ["ip = (?) and response = (?)", request.remote_ip, 'accepted'])
  @accepted = (@accepted_offer.nil? ? false: true)
  @counter_offer = product.offers.last(:conditions => ["ip = (?) and response = (?)", request.remote_ip, 'counter'])
  @new_price = @counter_offer.price if @counter_offer
  @counter = (@counter_offer ? true : false)
  @last_offer = (@counter_offer ? true : false)
%>

<div class="capsule2">
    <div class="cinner">
        <h4><%= product.style_description %></h4>
        <h5><%= product.color_description %></h5>

        <div class="view">
            <%= link_to(image_tag((product.image_url || "/images/khakis.png"), :size => "215x290"), capsule_url(product.id), :target => "_new", :class => "preview") %>
            <p>
                Share:
                <%= link_to(image_tag("/images/icons/twitter-18x18px.gif", :size => "15x14", :alt => "Twitter"), "http://twitter.com/home?status=Save money and look great on exclusive Gap wardrobe deals! #{capsule_url(product.id)}", :target => "_new") %>
                <%= link_to(image_tag("/images/icons/facebook-18x18px.gif", :size => "15x14", :alt => "Facebook"), "http://www.facebook.com/sharer.php?u=#{capsule_url(product.id)}&t=Save money and look great on exclusive Gap wardrobe deals!", :target => "_new") %>
                <%= link_to(image_tag("/images/icons/email-18x18px.gif", :size => "15x14", :alt => "Email"), send_to_path(product.id)) %>
            </p>
        </div><!-- .view -->

        <div class="info">
            <div class="ctrl-box">
                <div class="sinner">

                  <% if logged_in? and product.user == current_user %>
                      <h2>Total Price= $<%= number_with_delimiter(product.ticketed_retail) %></h2>
                      <% form_tag capsule_path(product.id), :id => "submit_form" do %>
                      <p>
                          <label>Your offer?</label>
                          <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                      </p>
                      <p>
                          <span class="button-green-ctrl-fat disabled"><input type="submit" name="" value="Say Your Price!" disabled="disabled"></span>
                      </p>
                      <% end %>
                  <% else %>
                      <% if @accepted_offer %>
                          <p class="ctrl">Total Price= $<%= number_with_delimiter(@accepted_offer.price.ceil) %></p>
                          <% form_tag payments_path(@accepted_offer.id) do %>
                              <p class="ctrls">
                                <span class="button-green-ctrl-fat"><%= submit_tag "Get Code" %></span>
                              </p>
                          <% end %>
                      <% else %>
                          <% form_tag capsule_path(product.id), :id => "submit_form" do %>
                              <%= hidden_field_tag(:submit_button, "counter") %>
                              <% if @counter %>
                                <h2 class="long"><%#= "Final " if @last_offer == true %><%= (@new_price.ceil > 0) ? "Offer= $" + number_with_delimiter(@new_price.ceil) : "Free of cost" %></h2>
                                <p class="ctrl">
                                    <label>Buy <%=(@new_price.ceil > 0) ? "at $" + number_with_delimiter(@new_price.ceil) : "Free" %>?</label>
                                    <span class="button-green-ctrl"><%= button_to_function("Yes", "var f = document.forms['submit_form'];$('submit_button').value='yes';f.submit();return false;") %></span>
                                    <span class="button-red-ctrl"><%= button_to_function("No", "var f = document.forms['submit_form'];$('submit_button').value='no';f.submit();return false;") %></span>
                                </p>
                                <% if @last_offer == false %>
                                
                                <p>
                                    <label>OR Your Counter Offer?</label>
                                    <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                                </p>
                                <p>
                                  <span class="button-orange-ctrl-fat"><%= submit_tag "Counter" %></span>
                                </p>
                                <% end %>
                              <% else %>
                                <h2>Say your price</h2>

                                <p class="ctrl">
                                    <label>Your offer?</label>
                                    <%= text_field_tag :price, '', :class => "w120px", :maxLength => 4, :onKeyPress => "return keyAllowed(event,'0123456789')", :onblur => "this.value=removeChars(this.value)" %>
                                </p>
                                <p class="ctrls">
                                    <span class="button-green-ctrl-fat"><%= submit_tag "Say your price!" %></span>
                                </p>
                              <% end %>
                          <% end %>
                        <% end %>
                  <% end %>

                </div><!-- .sinner -->
                <div class="stl"></div><div class="str"></div>
                <div class="sbl"></div><div class="sbr"></div>
            </div><!-- .sbox -->

            <div class="divider"></div>

            <p><%= link_to(capsule_url(product.id), capsule_path(product.id), :class => "myprice") %></p>
            <p>
                Reg. Price=$<%= number_with_delimiter(product.ticketed_retail) %>
                <br />
                <%#= link_to("More Info", "javascript:void();", :class => "more") %>
            </p>
        </div><!-- .info -->
    </div><!-- .cinner -->
    <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
    <div class="cml"></div><div class="cmr"></div>
    <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
</div><!-- .capsule -->
