<h1 class="home">Let's make a deal. Say your price.</h1>

<h2 class="home">
    <a href="<%=say_your_price_path%>">
    Check out our latest men's khakis and choose your favorite.<br>
    Just say your price and score an exclusive coupon to<br>
    redeem at your local Gap store.
    </a>
</h2>

<div class="intro-slides capsule2">
    <div class="cinner">

        <%= link_to(image_tag("/images/samples/pants-240x360px-1.jpg"), say_your_price_path) %>
        <%= link_to(image_tag("/images/samples/pants-240x360px-2.jpg"), say_your_price_path) %>
        <%= link_to(image_tag("/images/samples/pants-240x360px-3.jpg"), say_your_price_path) %>

    </div><!-- .iinner -->
    <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
    <div class="cml"></div><div class="cmr"></div>
    <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
</div><!-- .capsule2 -->

<p class="intro-ctrls w775px">
    <%= link_to(content_tag(:span, "Let's make a deal!"), say_your_price_path, :class => "button-green") %>
</p>
