<h1><%= link_to("Want EXCLUSIVE wardrobe deals? Choose to say your price!", say_your_price_path) %></h1>

<ol class="intro-steps" onclick="window.location.href='<%= say_your_price_path %>'" style="cursor:pointer;">
    <li><span class="num-1">1.</span> Look at 18 different khakis & then say your price. Make reasonable offers and snag them</li>
    <li><span class="num-2">2.</span> Take your voucher to the store. You lucky winner you. Your khakis look marvelous!</li>
</ol>

<div class="intro-slides ibox">
    <div class="iinner">
      <%= link_to(image_tag("/images/samples/intro-pants-1.jpg"), say_your_price_path) %>
      <%= link_to(image_tag("/images/samples/intro-pants-2.jpg"), say_your_price_path) %>
      <%= link_to(image_tag("/images/samples/intro-pants-3.jpg"), say_your_price_path) %>
    </div><!-- .iinner -->
    <div class="itl"></div><div class="itc"></div><div class="itr"></div>
    <div class="iml"></div><div class="imr"></div>
    <div class="ibl"></div><div class="ibc"></div><div class="ibr"></div>
</div><!-- .ibox -->

<p class="intro-ctrls">
    <%= content_tag(:span, button_to_function("Go!", "window.location.href='#{say_your_price_path}'"), :class => "button-green-fat") %>
</p>
