<% if @results and @results.size > 0 %>

  <p class="feed-ctrl">
    <a id="pause1" class="button pause">Pause</a>
    <a id="play1" class="button play" style="display:none;">Play</a>
  </p>

<div class="columns">
    <div class="column wide">
        <div class="capsule" style="width: 780px;">
            <div class="cinner" id="newsticker-jcarousellite">
              <ul class="events">
                <%for result in @results%>
                    <li>
                        <a class="user" target="_blank" href="http://www.twitter.com/<%=result.screen_name %>"><%=result.screen_name %></a>
                        <em><%=highlight(result.tweet, [result.keyword.to_s.strip], :highlighter => '<b>\1</b>') %></em>
                        <p class="when"><%=result.tweet_created.strftime("%I:%M %p %b %d ") if result.tweet_created %> <%= "via #{result.source}" if !result.source.strip.blank? %> from Twitter</p>
                        <hr />
                    </li>
                <% end %>
              </ul>
            </div><!-- .cinner -->
            <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
            <div class="cml"></div><div class="cmr"></div>
            <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
        </div><!-- .capsule -->

    </div><!-- .column.wide -->
</div><!-- .columns -->

  <p class="feed-ctrl">
    <a id="pause2" class="button pause">Pause</a>
    <a id="play2" class="button play" style="display:none;">Play</a>
  </p>

  <% javascript_tag do -%>
    $('play1').hide();
    $('play2').hide();
    var bindplaypause = function(){
      jQuery('#play1').bind('click', function(event){
          $('pause1').show();
          $('play1').hide();
          $('pause2').show();
          $('play2').hide();
      });
      jQuery('#play2').bind('click', function(event){
          $('pause1').show();
          $('play1').hide();
          $('pause2').show();
          $('play2').hide();
      });
      jQuery('#pause1').bind('click', function(event){
          $('play1').show();
          $('pause1').hide();
          $('play2').show();
          $('pause2').hide();
      });
      jQuery('#pause2').bind('click', function(event){
          $('play1').show();
          $('pause1').hide();
          $('play2').show();
          $('pause2').hide();
      });
    }
    bindplaypause();
  <%end%>
<% else %>
  <div style="height: 200px;"></div>
<% end %>
