<h1>Here's your khakhi voucher, you lucky winner you!</h1>
<div class="columns">
    <div class="column wide">
        <div class="capsule2">
          <div class="cinner">
              <h4>Voucher# <%=@payment.promotion_code.code %></h4>
              <h5>You Won!</h5>
              <p>
                  1 pair of <%= @payment.offer.product.style_description %><br />
                  Regular price = <%= number_to_currency(@payment.offer.product.ticketed_retail) %><br />
                  You Pay = <%= number_to_currency(@payment.offer.price) %><br />
                  Color = <%= @payment.offer.product.color_description %><br />
                  Style = <%= @payment.offer.product.style_num_full %><br />
                  Expires = 04/30/2011<br />
              </p>

              <% form_for :payment, :url => payments_path(@payment.id) do |f| %>
                <p class="ctrl">
                    <%= label_tag(:email, "Email") %>
                    <%= f.text_field :email, :class => "w250px" %>
                </p>
                <p class="ctrls">
                    <span class="button-green"><%= f.submit("Go!") %></span>
                    <%= link_to "Cancel", capsule_path(@payment.offer.product.id), :class => "alter-link" %>
                </p>
              <% end %>

            </div><!-- .cinner -->
            <div class="ctl"></div><div class="ctc"></div><div class="ctr"></div>
            <div class="cml"></div><div class="cmr"></div>
            <div class="cbl"></div><div class="cbc"></div><div class="cbr"></div>
        </div><!-- .capsule -->

    </div><!-- .column.wide -->
</div><!-- .columns -->
<%= link_to("Download pdf", "javascript::void();", :onclick => "window.location.href='#{download_pdf_path(@payment.id)}'") %>
